<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{asset('assets/error.css')}}">
    <link rel="shortcut icon" href="{{ asset('assets/images/avatar.png') }}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <style>
       :root {
            --body-bg: hsl(24deg 59% 85%);
            --h1-clr: hsl(24deg 40% 42%);
            --h1-txt-shadow: rgba(165, 42, 42, 0.315);
            --h2-clr: hsl(24deg 40% 55%);
            --content-clr: hsl(0, 59%, 20%);
            --a-clr: black;
            --selection-bg: hsl(24deg 59% 60%);
       }
    </style>

    <title>Oops! | Page not found</title>
</head>

<body>
    <main>
        <section aria-label="Error 404 - Page not found">
            <div class="image-code-wrapper">
                <h1>404</h1>
                <img src="{{ asset('assets/images/error-404.png') }}" width="600" height="600" alt="">
            </div>
            <h2>Dog ate the page</h2>
            <p>Woof, the dog ate the page, let's go back and leave him here. <a href="/">Click here to go back home.</a>
            </p>
        </section>
    </main>
</body>

</html>