<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/not-found-error.css">
    <link rel="shortcut icon" href="../../../public/error-logo.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Oops! | Page not found</title>
</head>

<body>
    <main>
        <section aria-label="Error 404 - Page not found">
            <h1 aria-hidden="true">404</h1>
            <img src="../../images/Dog-ate-page-404.png" alt="">
            <h2>Dog ate the page</h2>
            <p>Woof, the dog ate the page, let's go back and leave him here. <a href="/">Click here to go back home.</a></p>
        </section>
    </main>
</body>

</html>