<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/error.css">
    <link rel="shortcut icon" href="../../../public/error-logo.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <style>
       :root {
           --body-bg: hsl(230deg 100% 81% / 92%);
           --h1-clr: hsl(234 100% 59% / 1);
           --h1-txt-shadow: hsl(234 100% 75% / 1);
           --h2-clr: hsl(230deg 23% 33%);
           --content-clr: hsl(234deg 98% 5%);
       }
       main img {
           max-width: 80%;
       }
    </style>

    <title>Oops! | Server Error!</title>
</head>

<body>
    <main>
        <section aria-label="Error 500 - Server Error">
            <h1 aria-hidden="true">500</h1>
            <img src="../../images/error-500.png" alt="">
            <h2>There's a Leak in the Website</h2>
            <p>Looks like there is some problem with server, better to try again after few minutes..</p>
        </section>
    </main>
</body>

</html>