* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg: hsl(0, 0%, 95%);
  --secondary-bg: hsl(0, 0%, 85%);
  --primary-txt: rgb(71, 71, 71);

  --default-gap: 1.2em;
}

:root {
  --step--1: clamp(0.83rem, 0.81rem + 0.13vw, 0.9rem);
  --step-0: clamp(1rem, 0.95rem + 0.24vw, 1.13rem);
  --step-1: clamp(1.2rem, 1.12rem + 0.4vw, 1.41rem);
  --step-2: clamp(1.44rem, 1.32rem + 0.62vw, 1.76rem);
  --step-3: clamp(1.73rem, 1.54rem + 0.92vw, 2.2rem);
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background-color: var(--primary-bg);
  font-family: "Rubik", sans-serif;
  font-size: var(--step-0);
}

body > * {
  width: inherit;
}

@supports not(margin-inline: auto) {
  body > * {
      padding-left: var(--default-gap);
      padding-right: var(--default-gap);
  }
  header {
      padding-top: var(--default-gap);
      padding-bottom: var(--default-gap);
  }
}
@supports (margin-inline: auto) {
  body > * {
    padding-inline: var(--default-gap);
  }
  header {
    padding-block: var(--default-gap);
  }
}

header {
  background: linear-gradient(to bottom, var(--primary-bg) 5%, var(--secondary-bg));
  box-shadow: 0 0.1em 0.1em hsl(0, 0%, 61%);
  position: sticky;
  top: 0;
  z-index: 100; 
  margin-top: 0.6em;
}

header > :first-child {
  font-size: var(--step-2);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary-txt);
  font-weight: 700;
}
a:hover {
  opacity: 0.7;
}
img {
  max-width: 100%;
  height: auto;
}
header,
nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav > ul > :not(:first-child), header > :not(:first-child) {
  margin-left: var(--default-gap);
}
header img {
  max-width: 2em;
}
pre,
code {
  width: min(90vw, 55em);
}
pre {
  border-radius: 0.6em;
}
/* skip link */
.skip-link {
  position: absolute;
  top: 1em;
  left: -50em;
  padding: var(--default-gap);
  z-index: 999;
  width: max-content;
  background: hsl(0, 0%, 69%);
  color: black;
  border: .3em ridge hsl(0, 0%, 40%)
}
.skip-link:hover {
  opacity: 1;
  background: hsl(0, 0%, 79%);
}
.skip-link:focus {
  outline: 0;
  left: 2em;
}
/* nav-buttons */
.user-button > a,
.footerSignup__link {
  display: inline-block;
  padding: 0.8em 1.4em;
  background: var(--secondary-bg);
  border-radius: 0.5em;
  box-shadow: 0 0 0 0.1em hsl(67deg 14% 64%);
}
.user-button > a:active,
.footerSignup__link:active {
  transform: scale(0.98);
}

@supports not(margin-inline: auto) {
  .user-button > a {
    padding-left: 3em;
    padding-right: 3em;
  }
}
@supports (margin-inline: auto) {
  .user-button > a {
    padding-inline: 3em;
  }
}

/* main section */
main {
  scroll-margin: 5em;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(95vw, 55em);
  margin: 0 auto;
}
.landing-section {
  width: inherit;
}
.landing-section h1, .landing-section h2, .landing-section p  {
  text-align: center;
}
@supports not(margin-inline: auto) {
  .landing-section h1, .landing-section h2, .landing-section p  {
    padding-left: var(--default-gap);
    padding-right: var(--default-gap);
  }
}
@supports (margin-inline: auto) {
  .landing-section h1, .landing-section h2, .landing-section p  {
    padding-inline: var(--default-gap)
  }
}
.landing-section,
.example-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-section > :not(:first-child), .example-section  > :not(:first-child) {
  margin-top: var(--default-gap)
}
.landing-section, 
.example-section {
  width: 100%;
}
.example-section > h2 {
  align-self: flex-start;
}
/* secondary-info */
.secondary-info {
  width: inherit;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content 1fr;
  padding: 3em 2em;
  border: 0.2rem solid hsl(67deg 14% 64%);
  border-radius: 1em;
}
@supports not(margin-inline: auto) {
  .secondary-info {
    margin-top: var(--default-gap);
    margin-bottom: var(--default-gap);
  }
}
@supports (margin-inline: auto) {
  .secondary-info  {
    margin-block: var(--default-gap);
  }
}
.secondary-info > h2 {
  grid-column: span 3;
  justify-self: center;
}
.secondary-info > :not(:first-child) {
  margin-left: 2em;
}
.secondary-info > :first-child {
  margin-bottom: 1em;
}
.card {
  display: grid;
  text-align: center;
}
.card > :last-child {
  margin-top: 1em;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.6em;
  background: var(--secondary-bg);
}
@supports not(margin-inline: auto) {
  footer {
    padding-top: var(--default-gap);
    padding-bottom: var(--default-gap);
  }
}
@supports (margin-inline: auto) {
  footer {
    padding-block: var(--default-gap);
  }
}
footer > *:not(:first-child) {
  margin-top: 2em;
}
.footer__logo {
  font-size: var(--step-2);
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
.footerSignup {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.footerSignup > *:not(:first-child) {
  margin-top: var(--default-gap);
}
.footerSignup__link {
  padding: 1em 3em;
  background: var(--secondary-bg);
}

.js-disabled {
  text-align: center;
  color: rgb(255, 62, 62);
  padding: 1em;
  border-bottom: .4em solid;
}

/* size media queries */
@media (max-width: 50em) {
  :root {
    --default-gap: 1em;
  }

  header,
  nav > ul {
    flex-direction: column;
  }
  nav > ul > :not(:first-child), header > :not(:first-child) {
    margin-left: 0;
    margin-top: var(--default-gap) 
  }
  nav > ul a {
    padding: 0.2em 4em;
  }
  header {
    position: initial;
    align-items: center;
  }

  .secondary-info {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .secondary-info > :not(:first-child) {
    margin-left: 0;
    margin-top: 2em;
  }

  .secondary-info > h2 {
    grid-column: auto;
  }
}
