* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --default-gap: 1.3em;
}
html[data-theme="light"] {
  --primary-clr: royalblue;
  --primary-bg: white;
  --secondary-bg: lightgrey;
}
html[data-theme="dark"] {
  --primary-clr: rgb(65, 113, 255);
  --primary-bg: hsl(0, 0%, 15%);
  --secondary-bg: hsl(0, 0%, 7%);
  color-scheme: dark;
  color: white;
}
html[data-theme="dark"] button {
  color: white;
}
html[data-theme="light"] .theme-switcher-container button:first-child {
  font-weight: 600;
}
html[data-theme="dark"] .theme-switcher-container button:last-child {
  font-weight: 600;
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--secondary-bg);
  font-family: "Rubik", sans-serif;
}
button{
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.077em;
}
/* main */
main {
  display: grid;
  grid-template-rows: max-content 1fr;
  width: min(33em, 95%);
  padding: 2em var(--default-gap);
  background-color: var(--primary-bg);
  border-radius: 0.55em;
  box-shadow: 0 0 5px grey;
  display: none;
}
main > *:not(:first-child) {
  margin-top: var(--default-gap);
}
html[data-theme="dark"] main {
  box-shadow: 0 0 5px #757575;
}
h1 {
  font-size: 2rem;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
/* go-back section */
.back-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.back-div button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.back-div button:hover {
  opacity: 0.8;
}
.back-div a {
  color: var(--primary-clr);
  text-decoration: none;
}
.back-div a:hover {
  opacity: 0.7;
}
/* register and sign-in  */
.register {
  width: 100%;
  height: 100%;
}
.register button {
  margin-top: 0.5em;
  border-radius: 0.3em;
  color: white;
  padding: .8em 1em;
  background: var(--primary-clr);
  border: 0;
  cursor: pointer;
  font-weight: 700;
}
.register button:hover {
  opacity: 0.8;
}
.register button img {
  vertical-align: middle;
  max-width: 2.2em;
  margin-left: .3em;
}

.register__main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.register__main > *:not(:first-child) {
  margin-top: var(--default-gap);
}
.js-disabled {
  position: fixed;
  left: 0; 
  right: 0;
  bottom: 0;
  top: 0;
  background: var(--primary-bg);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  padding: 1em;
  line-height: 1.6;
}
.js-disabled__paragraph {
  max-width: 60ch;
  text-align: center;
}
.js-disabled__paragraph > strong {
  position: relative;
}
.js-disabled__paragraph > strong::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: .2em;
  background: black;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 200ms linear;
}
.js-disabled__paragraph > strong:hover::after {
  transform: scaleX(1)
}
.js-disabled__paragraph > strong::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 150%;
  left: 0;
  box-shadow: 0 0.05em .5em rgba(0, 0, 0, 0.377);
  border-radius: .4em;
  padding: .5em 1em;
  font-weight: 500;
  line-height: 1.3;
  display: none;
}
.js-disabled__paragraph > strong:hover::before {
  display: block;
}

@supports not(margin-inline: auto) {
  h1 {
    margin-top: .3em;
    margin-bottom: 1.2em;
  }
  .back-div button {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
@supports (margin-inline: auto) {
  h1 {
    margin-block: .3em 1.2em;
  }
  .back-div button {
    margin-inline: 0.5em;
  }
}

@media (any-pointer: coarse) {
  main {
    padding: 1.5em var(--default-gap);
  }
  .back-div a {
    display: inline-block;
    padding: .5em;
    padding-right: 0;
  }
  .theme-switcher-container > button {
    padding: .5em;
    padding-left: 0;
  }
  .theme-switcher-container > button:last-child {
    padding-left: .5em;
  }
}