<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../public/styles/register.css" />
    <script src="../public/js/register.js" type="module"></script>
    <script src="../public/dist/auth.js" type="module"></script>
    <title>FormEase | Register</title>
  </head>
  <body id="auth-page">
    <main>
      <div class="back-div">
        <div class="theme-switcher-container">
          <button id="light-button">Light</button>|<button id="dark-button">
            Dark
          </button>
        </div>
        <a href="/">Go back home &bkarow; </a>
      </div>
      <div>
        <section class="register">
          <h1>Join Us</h1>
          <div class="register__main">
            <button>Join with Google <img src="../public/assets/google-logo.png" alt="google-logo"></button><button>Join with Github <img src="../public/assets/github-logo.png" alt="github-logo"></button>
          </div>
        </section>
        
      </div>
    </main>
  </body>
</html>
