<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../public/styles/main.css" />
    <link rel="stylesheet" href="../public/styles/mobile.css" media="(max-width: 50em)">

    <link rel="stylesheet" href="../public/styles/prism.css" />
    <script src="../public/dist/prism.js" type="module"></script>


    <title>FormEase - Build Forms with Ease</title>
  </head>
  <body>
    <header>
      <div>FormEase</div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Usage</a></li>
          <li><a href="#">Github</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>

      <div class="user-buttons"><a href="/auth?mode=signin">Login</a><a href="auth">Register</a></div>
    </header>
    <main>
      <section class="landing-section">
        <h1>Get form data easily and instantly!</h1>
        <p>Use our api to submit your form. No server code left for you!</p>
        <div class="example-section">
          <h2>Example:-</h2>
          <pre><code class="language-html">
&lt;form action="https://formease.io/f/{form_id}" method="post">
    &lt;label for="email">Your Email&lt;/label>
    &lt;input name="Email" id="email" type="email">
    &lt;textarea name="message" id="message" placeholder="Type your message here">&lt;textarea>
    &lt;input type="submit" value="Submit">
&lt;/form>
 </code></pre>
        </div>
      </section>
      <section class="secondary-info">
          <h2>Build Forms Easily</h2>
          <article class="card">
              <h3>PowerFul forms</h3>
              <p>FormEase forms are very fast to work with your workflow.</p>
          </article>
          <article class="card">
            <h3>Simple Usage</h3>
            <p>Just put blah blah and service will work perfectly!</p>
        </article>
          </article>
          <article class="card">
            <h3>Browser Support</h3>
            <p>For browser support, good to tell that we ven support netscape!</p>
        </article>
          
      </section>
    </main>
    <footer>
        <div class="logo">FormEase</div>
        <article class="footer__signup">
            <h4>Try Now!</h4>
            <a href="#" class="footer__signup_btn">Register</a>
        </article>
    </footer>
  </body>
</html>
